<?xml version="1.0"?>
<connectionStrings>
  <!-- Northwind -->
<!--  <add name="Northwind"
       connectionString="Data Source=192.168.1.250;Initial Catalog=Northwind;Integrated Security=True" />-->
  <add name="Northwind"
  		connectionString="Data Source=192.168.1.11,1433;Network Library=DBMSSOCN;Initial Catalog=Northwind;User ID=hr;Password=hr;" />
  <add name ="Oracle"
       connectionString="DATA SOURCE=PDBORCL;PERSIST SECURITY INFO=True;USER ID=hr;PASSWORD=hr" />
  <!-- QAS
  <add name="DbContext"
       connectionString="data source=MXMEX4053V-QAS,1435;initial catalog=BlueTalent_QAS;persist security info=True;user id=App_BlueTalent_QAS;password=Bl63T4l3ntq4s;multipleactiveresultsets=True;application name=Talent" />
    -->

</connectionStrings>